.DS_Store
.cproject
.project
.settings/
.pydevproject
*.txt
!CMakeLists.txt
*.o
*.xlsx
*.dSYM
*.dSYM/
*.swp
*.swo
*.index
*.optrpt
tags
index
pado
query_distance
/Default/
cmake-build*/
build/

# Graph data
*.binary
*.edgelist

# CLion
.idea/
