# Project Files
.cproject
.project
.pydevproject

# Text Files
*.txt
!CMakeLists.txt
*.xlsx
*.dSYM
*.swp
*.swo
*.index
*.optrpt
tags

# Library Files
*.o
*.a
*.so

# Executable Files
index
pado
query_distance
dpado
binary2edgelist
edgelist2binary

# Directories
*.dSYM/
.DS_Store/
/Default/
cmake-build*/
build/
.settings/

# Graph data
*.binary
*.edgelist

# CLion
.idea/
